body {
/*  background-image: url("img/bg.jpg");
   background-repeat: no-repeat;
   background-size: 100%; */
	text-align:center;
	margin:0 auto;
	padding:0 auto;

}
.navbar-nav {
	font-weight: bold;
	font-style: italic;
}
.group {
	margin: 10px auto;
}
.logo {
	width: 50px;
	height: 30px;
}
.h2, h2 {
	font-size: 2rem;
	background:red;
	padding: 10px;
	font-weight: bold;
	color: #fff;
	border-radius: 3px 0px 23px;
}
th {
	background: green;
	color: #fff;
}
td {
	background: ;
	/* margin: 152px; */
}
td:hover {
	background: blue;
	color: #fff;
	cursor: pointer;
}
.\32 nd {
	background: #ddd;
	padding: 0px;
	border-radius: 8px;
	box-shadow: 3px 2px 8px black;
	margin-bottom: 11px;
}
.h1, h1 {
	font-size: 2.5rem;
	background: #ddd;
	padding: 11px 0px;
	font-weight: bold;
	color: red;
	text-shadow: 3px 3px 0px gray;
}
.second {
	width: 100%;
	padding: 10px 0px;
}
.footer-side {
	background:#000;
	color: #fff;
	padding: 10px;
}
p {
	margin-top: 0;

	text-align: center;
}
.fab {
	font-family: Font Awesome\ 5 Brands;
	font-size: 20px;
	color: #fff;
	margin: 2px;
}